{% include 'common/header.html' %}

<div class="row">
  <div class="nine columns" role="content">
    <h3>博文列表</h3>

    {% if articles %}
      <ul>
        {% for article in articles %}
          <li>
            <a href="">{{ article.title }}</a>，创建时间 {{ article.created_at | date:"Y-m-d H:i:s" }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div>没有博文，赶快写博客吧~</div>
    {% endif %}
    <br>
    <a href="/articles/new" class="button round small">编写</a>
  </div>
</div>

{% include 'common/footer.html' %}