{% include 'common/header.html' %}

<div class="row">
  <div class="nine columns" role="content">
    <h3>编写博客</h3>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="/articles/create" method="post">
      {% csrf_token %}

      <div class="row">
       <div class="large-12 columns">
          <label>博主名称：</label>
          <input type="text" name="name" disabled="disabled" value="{{ request.session.author_name }}" />
        </div>
      </div>

      <div class="row">
       <div class="large-12 columns">
          <label>博客标题：</label>
          <input type="text" name="title" placeholder="请输入博客标题" size="60" />
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label>博客正文</label>
          <textarea rows="10" cols="62" name="content" placeholder="请输入博客正文" ></textarea>
        </div>
      </div>

      <div class="row">
        <div class="columns">
          <a href="/articles/" class="button secondary round small">取消</a>&nbsp;&nbsp;
          <input type="submit" value="保存" class="button round small" />
        </div>
      </div>
    </form>

  </div>
</div>

{% include 'common/footer.html' %}