<html>
    <head>
      <title>Django Simple Blog</title>
      <link rel="stylesheet" href="/static/stylesheets/foundation.min.css">
      <script src="/static/javascripts/modernizr.foundation.js"></script>
    </head>
    <body>
      <div class="row">
        <div class="twelve columns">
          <h1>Django Simple Blog</h1>
          {% if request.session.author_name %}
            <span class="round label">欢迎{{ request.session.author_name }}~</span>
          {% else %}
            <span class="alert round label">游客您好，欢迎阅读~</span>
          {% endif %}
          <ul class="nav-bar">
            <li><a href="/">首页</a></li>
            <li><a href="/articles/">文章</a></li>
            <li><a href="/comments/">评论</a></li>
            <li><a href="/authors/">博主</a></li>
            {% if request.session.author_name %}
              <li><a href="/accounts/logout">注销</a></li>
            {% else %}
              <li><a href="/accounts/login">登录</a></li>
            {% endif %}
          </ul>
        </div>
      </div>