<html>
    <head>
      <title>Django Simple Blog</title>
      <link rel="stylesheet" href="/static/stylesheets/foundation.min.css">
      <script src="/static/javascripts/modernizr.foundation.js"></script>
    </head>
    <body>
      <div class="row">
        <div class="twelve columns">
          <h1>Django Simple Blog</h1>
          <ul class="nav-bar">
            <li><a href="/">首页</a></li>
            <li><a href="/categories/">博主</a></li>
            <li><a href="/archives/">文章</a></li>
            <li><a href="/books/">评论</a></li>
            <li><a href="#">More</a></li>
          </ul>
        </div>
      </div>